@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Trang chủ";
}



<div class="text-center my-5">
    <h2>🎬 Chào mừng đến Cinestar!</h2>
    <p>Đặt vé xem phim, bắp nước và nhiều ưu đãi hấp dẫn.</p>
    <a href="@Url.Action("StartBooking", "Booking")" class="btn btn-warning">Đặt vé ngay</a>
</div>
